/* Base Styles */

* {
    font-family: 'Chivo', sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.full-screen {
    height: 100vh;
    padding: 100px 60px;
}

.btn-theme {
    background: #8AC03B;
    color: #fff;
    transition: 0.2s ease;
    font-weight: 700;
    margin: 20px 0;
}

.btn-theme:hover {
    transform: scale(1.1);
    color: #fff;
}

/* Navbar */

.navbar {
    padding: 24px 55px 16px 0px;
    background: #fff;
    box-shadow: 0 0 10px 2px #ccc;          
}

.navbar .navbar-brand {
        margin: 0 110px;
        font-weight: 700;
        color: #8AC03B;
        font-size: 2rem;
}

.navbar .navbar-nav .nav-item {
    margin : 0 17px;
}

.navbar .navbar-nav .nav-item a{
    color : #30304E;
}

.navbar .navbar-nav.ml-auto .nav-item:nth-child(1) a {
    color : #8AC03C;
}

.navbar .navbar-nav.ml-auto .nav-item .btn-theme {
    margin: 0;
    padding: 5px 18px;
    color: #fff;
}

.navbar-toggler {
    border-color: #8AC03B;
}

.navbar-toggler .fa {
    color: #8AC03B;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-item {
        margin: 10px 10px;
    }

    .navbar .navbar-brand {
        margin: 0 10px;
    }

    .navbar-toggler {
        margin: 0 10px;
    }

    .navbar {
        padding-right: 0; 
    }
}

/* Landing */

.landing {
    background: url('../img/landingEdit.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .content{
    color: #fff;
    text-align: center;
    line-height: 3rem;
}

.landing .content {
    font-size: 1.2rem;
}

.landing .content .focus {
    font-size: 3rem;
}

.landing .content .focus > span {
    font-weight: 700;
}

.landing .content .stats {
    display: flex;
    justify-content: center;
}

.landing .content .stats .circle {
    width: 150px;
    height: 150px;
    margin: 20px 0;
    border: 2px solid #fff;
    border-radius: 100%;
    position: relative;
}

.landing .content .stats .circle .inner-circle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #8AC03B;
    border-radius: 100%;
    border-left: none;
    border-bottom: none;
    font-size: 3rem;
    font-weight: 700;
}

.landing .content .btn-theme {
    padding: 15px 50px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .landing .content {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .landing .content .focus {
        font-size: 2rem;
    }

    .landing .content .btn-theme {
        padding: 16px 24px;
        text-transform: uppercase;
    }

    .landing .content .stats .circle {
        width: 120px;
        height: 120px;
        margin: 20px 0;
        border: 2px solid #fff;
        border-radius: 100%;
        position: relative;
    }
    
    .landing .content .stats .circle .inner-circle {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #8AC03B;
        border-radius: 100%;
        border-left: none;
        border-bottom: none;
        font-size: 2rem;
        font-weight: 700;
    }
}

/* Meal Kit */

.meal-kit {
    display: flex;
    align-items: center;
}

.meal-kit .left {
    padding: 50px;
    font-size: 1.2rem;
    color: #32325D;
    width: 50%;
}

.meal-kit .left > div:nth-child(1) {
    font-size: 4rem;
    color: #8AC03B;
    font-weight: 900;
}

.meal-kit .left > div:nth-child(2) {
    font-size: 3rem;
    color: #32325D;
    font-weight: 900;
}

.meal-kit .left > div:nth-child(3) {
    margin-bottom: 20px;
}

.meal-kit .left .btn-theme {
    padding: 8px 24px;
    text-transform: uppercase;
}

.meal-kit .right {
    width: 50%;
    padding: 80px;
}

.meal-kit .right img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .meal-kit .left > div:nth-child(1) {
        font-size: 3rem;
    }

    .meal-kit .left > div:nth-child(2) {
        font-size: 2rem;
    }

    .meal-kit .right {
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {

    .meal-kit {
        flex-direction: column;
    }

    .meal-kit .left, .meal-kit .right {
        width: 100%;
        padding: 0px;        
    }

    .meal-kit .right {
        margin-top: 50px;
    }

}

/* Delivery */

.delivery {
    display: flex;
    align-items: center;
}

.delivery .left {
    padding: 50px;
    width: 50%;
}

.delivery .left > div:nth-child(1) {
    color: #32325D;
    line-height: 2rem;
    font-size: 2rem;
}

.delivery .left > div:nth-child(2) {
    color: #32325D;
    font-size: 2.2rem;
    line-height: 4rem;
    font-weight: 900;
}

.delivery .left .points .accordion {
    background: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    color: #8AC03B;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.delivery .left .points .panel {
    padding: 0 18px;
    background-color: white;
    color: #32325D;
    padding-left: 50px;
    font-size: 1.2rem;
    overflow: hidden;
    max-height: 0;
    transition: 0.2s ease-out;
}

/* Horizontal Section */

.horizontal {
    background: url('../img/kitchen.png') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
}

.horizontal .content {
    width: 50%;
    padding: 0 50px;
}

.horizontal .content > div:nth-child(1) {
    color: #32325D;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.horizontal .content > div:nth-child(2) {
    color: #5C5C7E;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.horizontal .content .focus {
    background: #8AC03B;
    padding: 30px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;        
}

.horizontal .content .focus > div {
    padding-left: 30px;
    border-left: 7px solid #F9C80A;
}