/* Base Styles */

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

body {
    scroll-snap-type: mandatory;
    overflow-y: scroll;
}

section {
    min-height: 100vh;
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #8AC03B; 
}

::-webkit-scrollbar-thumb:hover {
    background: #22802B; 
}

.btn-theme {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    background: #8AC03B;
    padding: 13px 39px;
    border: none;
    cursor: pointer;
}

/* Fold 1 */
.fold-1 {
    display: flex;
    color: #1d2b44;
    padding: 120px 0;
}

.fold-1 .left {
    padding: 40px;
    flex: 2;
}

.fold-1 .left .fold-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.68;
    margin-bottom: 30px;
}

.fold-1 .left .fold-title-helper {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.22;
    margin-bottom: 50px;
}

.fold-1 .left .form-field {
    display: flex;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 97px;
}

.fold-1 .left .form-field input {
    padding: 18px 24px;
    background: #fff;
    font-size: 18px;
    border: none;
    flex: 1;
    outline: none;
}

.fold-1 .left .form-field button {
    padding: 19px 43px;
    background: #8bc029;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.fold-1 .left .fold-stat {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
}

.fold-1 .left .fold-stat .stat-highlight {
    color: #8bc029;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.23;
}

.fold-1 .right {
    flex: 3;
    position: relative;
}

.fold-1 .right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fold-1 .right .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #1d2b44;
    opacity: 0.7;
}

/* Fold 3 */
.fold-3 {
    display: flex;
    padding: 120px 0;
    color: #1d2b44;
} 

.fold-3 .left {
    flex: 1;
}

.fold-3 .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fold-3 .right .fold-title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 35px;
}

.fold-3 .right .fold-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 52px;
}

.fold-3 .btn-theme {
    max-width: 323px;
}

/* Fold 5 */
.fold-5 {
    padding: 120px;
    position: relative;
    color: #1d2b44;
}

.fold-5 .fold-title {
    font-size: 58px;
    font-weight: bold;
    line-height: 0.79;
    color: #8ac03b;
    margin-bottom: 28px;
}

.fold-5 .fold-title-helper {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.64;
    margin-bottom: 168px;
}

.fold-5 .fold-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
}

/* Fold 6 */
.fold-6 {
    padding: 120px;
    color: #1d2b44;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fold-6 .fold-title {
    font-size: 48px;
    line-height: 1.19;
    margin-bottom: 108px;
    text-align: center  ;
}

.fold-6 .testimonial-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.fold-6 .testimonial-row .testimonial {
    border: 1px solid #8ac03b;
    position: relative;
}

.fold-6 .testimonial-row .testimonial .text {
    position: relative;
    left: 20px;
    bottom: 20px;
    padding: 28px;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
}

.fold-6 .testimonial-row .testimonial .text .author {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    margin-top: 10px;
}